.Sabine {
  @import './Intro/styles.scss';
  @import './Disappearance/styles.scss';
  @import './Rediscovery/styles.scss';
  @import './Outro/styles.scss';

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: -2;
  }

  .cube {
    background-color: #000;
    width: 80px;
    height: 80px;
    opacity: 0;
  }

  .boat {
    position: absolute;
    bottom: 150px;
    width: 30%;
    max-width: 400px;

    .boatMatt {
      position: absolute;
      width: 90%;
      padding-bottom: 75%;
      margin-bottom: 15%;
      bottom: 0;
      left: -20%;
      background-size: cover;
      background-image: url(assets/sabine/boat/boatMatt.png);
      z-index: -1;
    }

    .boatHull {
      position: absolute;
      width: 100%;
      padding-bottom: 60%;
      bottom: 0;
      background-size: cover;
      background-image: url(assets/sabine/boat/boatHull.png);
    }
  }
}
