.Sabine {
  .cube {
    background-color: #000;
    width: 80px;
    height: 80px;
  }
  .stormClouds{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    div {
      height:215px;
      background-repeat: no-repeat;
      position: absolute;
      background-size:85%;
    }
    .stromCloudBrushSmallRight {
      background-image: url("assets/disappearance/storm/cielvenere_ng1.png");
      top:180px;
      left:1%;
      width: 525px;
      z-index: 1;
    }
    .stromCloudPointSmall {
      background-image: url("assets/disappearance/storm/cielvenere_ng2.png"); 
      top:30px;
      left:1%;
      width: 425px;
      z-index: 2;   
    }
    .stromCloudOrange {
      background-image: url("assets/disappearance/storm/cielvenere_ng3.png");   
      top:70px;
      left:8%;
      width: 665px;
      z-index: 0;
      opacity:0.7; 
    }
    .stromCloudBrushSmallLeft {
      background-image: url("assets/disappearance/storm/cielvenere_ng4.png");    
      top:40px;
      left:22%;
      width: 495px;
      z-index: 1;
    }
    .stromCloudPointBig {
      background-image: url("assets/disappearance/storm/cielvenere_ng5.png");    
      top:10px;
      left:30%;
      width: 700px;
      z-index: 4;
    }
    .stromCloudBrushBigRight {
      background-image: url("assets/disappearance/storm/cielvenere_ng6.png");  
      top:120px;
      left:40%;
      width: 545px;
      z-index: 3;  
    }
    .stromCloudBrushBigLeft {
      background-image: url("assets/disappearance/storm/cielvenere_ng7.png");
      top:30px;
      left:53%;
      width: 830px;
      z-index: 1;    
    }
    .stromCloudGrey{
      background-image: url("assets/disappearance/storm/cielvenere_ng8.png");
      top:140px;
      left:63%;
      width: 315px;
      z-index: 2;    
    }
    .stromCloudBlack {
      background-image: url("assets/disappearance/storm/cielvenere_ng9.png");
      top:10px;
      left:65%;
      width: 525px;
      z-index: 4;    
    }
  }
}
