.Sabine {
  .cube {
    background-color: #000;
    width: 80px;
    height: 80px;
  }
  .stormClouds{
    background-color: #551300;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    div {
      height:auto;
      padding-bottom:50%;
      background-repeat: no-repeat;
      position: absolute;
    }
    .stormCloudBrushSmallRight {
      mix-blend-mode: color-dodge;
      background-image: url("assets/disappearance/storm/cielvenere_ng1.png");
      top:190px;
      left:5%;
      width: 525px;
      z-index: 1;
    }
    .stormCloudPointSmall {
      mix-blend-mode: overlay;
      background-image: url("assets/disappearance/storm/cielvenere_ng2.png"); 
      top:40px;
      left:5%;
      width: 425px;
      z-index: 2;   
    }
    .stormCloudOrange {
      mix-blend-mode: multiply;
      background-image: url("assets/disappearance/storm/cielvenere_ng3.png");   
      top:80px;
      left:10%;
      width: 665px;
      z-index: 0;
      opacity:0.5;
    }
    .stormCloudBrushSmallLeft {
      mix-blend-mode: color-dodge;
      background-image: url("assets/disappearance/storm/cielvenere_ng4.png");    
      top:50px;
      left:25%;
      width: 495px;
      z-index: 1;
    }
    .stormCloudPointBig {
      mix-blend-mode: overlay;
      background-image: url("assets/disappearance/storm/cielvenere_ng5.png");    
      top:20px;
      left:34%;
      width: 700px;
      z-index: 4;
    }
    .stormCloudBrushBigRight {
      mix-blend-mode: color-dodge;
      background-image: url("assets/disappearance/storm/cielvenere_ng6.png");  
      top:150px;
      left:40%;
      width: 545px;
      z-index: 3;  
    }
    .stormCloudBrushBigLeft {
      mix-blend-mode: color-dodge;
      background-image: url("assets/disappearance/storm/cielvenere_ng7.png");
      top:40px;
      left:60%;
      width: 830px;
      z-index: 5;    
    }
    .stormCloudGrey{
      mix-blend-mode: multiply;
      background-image: url("assets/disappearance/storm/cielvenere_ng8.png");
      top:180px;
      left:65%;
      width: 315px;
      z-index: 6;    
      opacity: 0.5;
    }
    .stormCloudBlack {
      background-image: url("assets/disappearance/storm/cielvenere_ng9.png");
      top:20px;
      left:65%;
      width: 525px;
      z-index: 4;    
    }
  }
}
