.Decision {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  &.negative {
    .title {
      color: #fff;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
  }

  .choices {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
