.Art {
    padding-top: 100px;
  .title {
    width:330px;
    height:126px;
    margin:auto;
    text-align: center;
    background-repeat:none;
    background-size:cover;
    background-color:transparent;
    background-image: url(assets/sabine/intro/title.svg)
  }

  .getStarted {
    background-color:transparent;
    border:2px solid white;
    color:white;
    letter-spacing: 9px;
    border-radius:50px;
    text-align: center;
    padding: 12px 25px 14px 35px;
    margin:0;
    width: fit-content;
    height: auto;
    transition:0.3s ease-in-out;
    &:hover{
      background-color: white;
      color:rgb(121, 146, 218);
    }
  }

  .getStarted,
  .gameOver {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    appearance: none;
    font-size: 18px;
    outline: none;
    transform: translate(-50%, -50%) translateZ(0);
    cursor: pointer;
    z-index: 999;
  }
}
