:global {
  html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
  }

  // Only for test
  html,
  body {
    overflow: hidden;
  }

  body {
    min-height: 100vh;
  }
}
